{% extends 'base.html' %}


{% block content %}

<h1 style="color:white;background:grey">Rasmlar katologi</h1>
<h3 style="color:grey">Kosmos</h3>
<img src="https://cdn.mos.cms.futurecdn.net/mB7tuVXixJq9J9Cds75gjK.jpg">
<h3 style="color:grey">Sayyoralar</h3>
<img src="https://images.theconversation.com/files/223749/original/file-20180619-126537-5l632j.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop">
<h3 style="color:grey">Kameta</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6TCJJ416f6Aj9duh565PHXKPDegHj_K_a_GxdqMNVF1qRza01ffnC3dwK0pA4PmfefSE&usqp=CAU">
<h3 style="color:grey">Beautifull eyes</h3>
<img src="http://3.bp.blogspot.com/-WSYS9rS8mIM/UVUkFYGbNLI/AAAAAAAAApM/vfmHq51k20I/s1600/beautiful_eyes.jpg">
<h3 style="color:grey">Sharshara</h3>
<img src="https://cdn.wallpapersafari.com/84/6/pEgDnk.jpg">
<p style="font-family:cursive">Etiborlaingiz uchun tashakkur</p>

{% endblock content %}